{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>HOME</title>

    <!--

Breezed Template

https://templatemo.com/tm-543-breezed

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href=" {% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href=" {% static 'assets/css/font-awesome.css' %} ">

    <link rel="stylesheet" href=" {% static 'assets/css/templatemo-breezed.css' %}">

    <link rel="stylesheet" href=" {% static 'assets/css/owl-carousel.css' %} ">

    <link rel="stylesheet" href=" {% static 'assets/css/lightbox.css' %} ">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            .Django CRM
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src=" {% static 'assets/images/slide-01.jpg' %} " alt="">
                    <div class="text-content">
                        <h3>Welcome To</h3>
                        <h5>.Django CRM</h5>
                        <a href="{% url 'SignUp' %}" class="main-stroked-button">Register</a>
                        <a href="{% url 'Login' %}" class="main-filled-button">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; 2020 Django CRM, Ltd. - Design: <a rel="nofollow noopener" href="">Arafat</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                        <ul class="social-icons">
                            <li>
                                <p>Follow Us</p>
                            </li>
                            <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                            <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-twitter"></i></a></li>
                            <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src=" {% static 'assets/js/jquery-2.1.0.min.js' %} "></script>

    <!-- Bootstrap -->
    <script src=" {% static 'assets/js/popper.js' %} "></script>
    <script src=" {% static 'assets/js/bootstrap.min.js' %} "></script>

    <!-- Plugins -->
    <script src=" {% static 'assets/js/owl-carousel.js' %} "></script>
    <script src=" {% static 'assets/js/scrollreveal.min.js' %} "></script>
    <script src=" {% static 'assets/js/waypoints.min.js' %} "></script>
    <script src=" {% static 'assets/js/jquery.counterup.min.js' %} "></script>
    <script src=" {% static 'assets/js/imgfix.min.js' %} "></script>
    <script src=" {% static 'assets/js/slick.js' %} "></script>
    <script src=" {% static 'assets/js/lightbox.js' %} "></script>
    <script src=" {% static 'assets/js/isotope.js' %} "></script>

    <!-- Global Init -->
    <script src=" {% static 'assets/js/custom.js' %} "></script>

    <script>
        $(function() {
            var selectedClass = "";
            $("p").click(function() {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function() {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });
    </script>

</body>

</html>